.modal {
	display: flex;
  align-items: center;
  position: fixed;
  background-color: rgba(0,0,0,0.1);
  width: 100vw;
  height: 100vh;
  z-index: 999;
  top: 0;
  left: 0;

  &-content {
		width: 60vw;
		height: 70vh;
		margin: 0 auto;
		background-color: #FFFFFF;

		&-header {
			height: 60px;
		  display: flex;
		  align-items: center;
		  justify-content: space-between;
		  padding: 0 16px;
		  font-size: 28px;
		  font-weight: 300;
		}

		&-details {
			.top {
				display: flex;

				figure {
					width: 360px;
				  height: 240px;
				}

				.info {
					margin: 0 28px;

					li {
						padding: 6px;
					}
				}
			}
			
			.bottom {
				padding: 28px;

				div {
					padding: 6px;
				}
			}

			.points {
				display: flex;
		    justify-content: center;
		    height: 18vh;
		    align-items: center;
		    font-size: 58px;
		    font-weight: 900;

		    small {
		    	margin-left: 6px;
		    }
			}

			.save {
		    height: 10vh;
		    display: flex;
		    flex-direction: column;
		    justify-content: center;
		    align-items: center;
		    font-size: 18px;

		    small {
		    	color: #E91E63;
		    	margin: 6px;
		    }

		    form {
					width: 72%;
		    	display: flex;
		    	flex-direction: column;
		    	margin: 16px;
					font-size: 14px;
		    }
			}

			.list {
		    height: 46vh;
		    margin: 28px;
		    overflow-y: scroll;
		    text-align: center;
		    border: 1px solid black;
		    border-radius: 4px;
		    padding: 12px;	

		    small {
		    	height: 12px;
		    }

		    li {
		    	display: flex;
		    	justify-content: space-between;
				  padding: 6px;

				  div {
				  	display: flex;
		    		flex-direction: column;
		    		align-items: flex-start;
				  }

		    	&:nth-child(2n+1) {
				    background-color: rgba(128, 128, 128, 0.42);
		    	}
		    }			
			}
		}
  }	
}

@media only screen and (max-width: 44em) {
	.modal {
	  &-content {
	    width: 90vw;
	    height: 76vh;

			&-details {
				.save {
			    padding: 28px;
			    text-align: center;

			    form {
			    	text-align: left;
			    }
				}
			}
	  }	
	}
}