.modal {
	display: flex;
  align-items: center;
  position: fixed;
  background-color: rgba(0,0,0,0.1);
  width: 100vw;
  height: 100vh;
  z-index: 999;
  top: 0;
  left: 0;

  &-content {
		width: 60vw;
		height: 70vh;
		margin: 0 auto;
		background-color: #FFFFFF;

		&-header {
			height: 60px;
		  display: flex;
		  align-items: center;
		  justify-content: space-between;
		  padding: 0 16px;
		  font-size: 28px;
		  font-weight: 300;
		}

		&-details {
			.top {
				display: flex;

				figure {
					width: 360px;
				  height: 240px;
				}

				.info {
					margin: 0 28px;

					li {
						padding: 6px;
					}
				}
			}
			
			.bottom {
				padding: 28px;

				div {
					padding: 6px;
				}
			}
		}
  }	
}