a,
a:active,
a:hover,
a:visited {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

input {
  border: 1px solid #999;
  border-width: 0 0 1px;
  padding: 8px 0;
  margin: 0 0 8px;
  font-size: 14px;

  &:focus {
    outline: none !important;
    border: 1px solid #000000;
    border-width: 0 0 1px 0;

    &::-webkit-input-placeholder {
      opacity: 0;
    }
  }
}

label {
  color: #000000;
}

button {
  box-shadow: none;
  border: none;
  border-radius: 4px;
  margin: 4px;
  padding: 12px;
  font-size: 16px;
  cursor: pointer;

  &:active {
    opacity: 0.8;
  }

  &:focus {
    outline: none !important;
  }
}

.btn {
  padding: 12px 24px;
  border: 1px solid #000000;
  font-size: 22px;
  border-radius: 8px;
  cursor: pointer;

  &-chars {
    padding: 6px 44px;
    font-size: 18px;
  }

  &-confirm {
    padding: 8px 12px;
    font-size: 16px;
    font-weight: 700;
  }

  &-results {
    width: 200px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 12px auto;
  }

  &:active {
    opacity: 0.5;
    background-color: #000000;
    color: #FFFFFF;
  }

  &:hover {
    color: #FFFFFF;
    background-color: #000000;
    border-color: #FFFFFF;
  }
}

.close {
  margin: 10px;
  font-size: 26px;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }    

  &:active {
    opacity: 1;
  }  
}

.invisible {
  visibility: hidden;
}

.answer {
  font-size: 28px;
  font-weight: 900;

  &-correct {
    color: #4CAF50;
  }

  &-wrong {
    color: #E91E63;
  }
}

small {
  font-size: 80%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

/* BASE */
.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.container {
  background-color: #F1F1F1;
}

.bg_spin {
  background: black;
}

.loader {
  &::before {
    content: '';
    position: absolute;
    background-image: url('./../images/loader.svg');
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    margin: -24px;
  }
}
