<div class="modal">
	<div class="modal-content">
		<div class="modal-content-header">
			<span class="title">{{ 'ranking' | translate}}!</span>
			<span class="close" ui-sref="main">
				<i class="fas fa-redo-alt"></i>
			</span>
		</div>
		<div class="modal-content-details">
			<ul class="list">
				<li ng-repeat="rank in vm.ranking | orderBy:'-total'">
					<div>
						<span>{{rank.player.name}}</span>
						<small>{{rank.player.email}}</small>
					</div>
					<div>
						{{rank.total || '0'}}
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>